.Rproj.user
.Rhistory
.RData
.Ruserdata
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tfw
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif.aux.xml
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif.ovr
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif.vat.cpg
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif.vat.dbf
sensitivity_analysis/landfire_2023_evh/LC23_EVH_240.tif.xml
movebank_credentials.rds
sensitivity_analysis/lnorm_sensitivity.rds
modeling/results/lnorm_age.rds
modeling/results/lnorm_original.rds
modeling/results/lnorm_season.rds
modeling/results/lnorm_sex.rds
dryad/old_version/flight-altitude-compressed.zip
modeling/results/lnorm_original_2026.rds
